@import '../../../styles/variables.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .head {
    font-family: $lemonMilk;
    font-size: 2rem;
    margin: 2rem 0;
  }
  .card {
    width: 22em;
    height: 14em;
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid white;
    background: rgba(121, 120, 120, 0.422);
    box-shadow: 0 8px 32px 0 rgba(247, 247, 248, 0.265);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.47);
  }
}
