.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 50%;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      width: 100%;
    }

    .carousel {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: flex-start;
      width: 60%;
      padding: 3rem 0;
      overflow: hidden;
    }

    .btn {
      position: relative;
      width: 3rem;
      height: 4rem;
      transform: translateY(80%);
      cursor: pointer;

      @media (max-width: 772px) {
        width: 4rem;
        height: 3.5rem;
        transform: translateY(60%);
      }

      @media (max-width: 400px) {
        width: 3.8rem;
        height: 3.2rem;
      }
    }
  }
}