.container {
  background-color: black;
  position: relative;
  scroll-snap-type: y mandatory;
  .black {
    background-color: black;
  }
  .hero {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      to bottom,
      rgba(76, 0, 130, 0.395),
      rgba(98, 20, 153, 0.516),
      rgba(147, 46, 147, 0.489),
      black,
      black
    );
    // opacity: 0.6;
    position: relative;
    top: 0;
    .overlay {
      position: absolute;
      z-index: 50;
    }
    .bgEle {
      height: 100vh;
      width: 35vw;
      position: relative;
      position: absolute;
      top: 0;
      z-index: 30;
    }
    #right {
      left: 100vw;
      transform: translateX(-100%);
    }
  }
  .main {
    position: relative;
    // box-shadow: 0px 100px 40px 300px black;
    .bg {
      position: absolute;
      z-index: 20;
      top: 0;
      width: 100vw;
      #eclipse {
        width: 12rem;
        height: 12rem;
        position: relative;
        top: 20rem;
      }
      #ball {
        width: 14rem;
        height: 14rem;
        position: relative;
        top: 14rem;
        left: 90vw;
      }
      #ring {
        width: 10rem;
        height: 10rem;
        position: relative;
        left: 90vw;
      }
      .sphere {
        width: 10rem;
        height: 10rem;
      }
      #sp1 {
        position: relative;
        top: 20rem;
      }
      #sp2 {
        position: relative;
        top: 20rem;
        left: 92vw;
      }
    }
    .back {
      background-color: rgba(0, 0, 0, 0);
      position: fixed;
      top: -10em;
    }
    .off {
      display: none;
    }
    .hide {
      opacity: 0;
    }
  }
}
.static {
  overflow: hidden;
  height: 100vh;
}
// .container
