@import '../../../styles/variables.scss';

@font-face {
  font-family: LemonMilk;
  src: url('/public/Fonts/LemonMilk.otf');
}

@font-face {
  font-family: roadRage;
  src: url('/public/Fonts/Road_Rage.otf');
}

@font-face {
  font-family: mokotoGlitch;
  src: url('/public/Fonts/MokotoGlitch.otf');
}
.cont {
  .main {
    display: flex;
    color: white;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    .h1 {
      display: flex;
      font-size: 2rem;
      line-height: 2.5rem;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px 4px 20px rgba(78, 223, 255, 0.5));
      font-family: roadRage;

      @media (min-width: 2000px) {
        font-size: 4rem;
        line-height: 3.8rem;
      }

      @media (min-width: 3600px) {
        font-size: 4.3rem;
        line-height: 4rem;
        margin-top: 4%;
      }
    }

    .tecnoesisText {
      overflow: hidden;
      position: relative;
      margin-top: 2.5rem;

      @media (min-width: 772px) {
        margin-top: -1%;
      }

      .textAndLogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 772px) {
          flex-direction: row;
        }

        .logo {
          position: relative;
          width: 200px;
          height: 200px;
          @media (min-width: 2000px) {
            width: 200px;
            height: 200px;
          }

          @media (min-width: 3600px) {
            width: 200px;
            height: 200px;
          }
        }

        .headingText {
          display: flex;
          margin-top: 1.5rem;
          letter-spacing: 0.1em;
          justify-content: center;
          align-items: center;
          font-size: 7rem;
          filter: drop-shadow(2px 8px 20px rgba(78, 223, 255, 0.5));
          font-family: lemonMilk;
        }
      }

      .year {
        display: flex;
        position: absolute;
        bottom: -0.5rem;
        justify-content: flex-end;
        width: 100%;
        color: white;
        .yearH1 {
          font-size: 1.5rem;
          line-height: 2rem;
          text-align: center;
          width: 25%;
          filter: drop-shadow(0px 4px 20px rgba(78, 223, 255, 0.5));
          font-family: roadRage;
        }
      }
    }

    .backToTheFuture {
      margin-top: 1.25rem;
      margin-bottom: 1.75rem;
      text-align: center;
      opacity: 0.9;
      font-size: 2rem;
      font-family: $mokotoGlitchMark;
    }
    .foot {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: lemonMilk;
      letter-spacing: 0.2em;
      .date {
        font-size: 2rem;
        letter-spacing: 0.25em;
      }
      .month {
        font-size: 1.5rem;
      }
    }
  }
  .flick {
    animation: animeStatic 900ms ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .stop {
    opacity: 0 !important;
  }
}

$low: 0.4;
$high: 1;
$invisible: 0;
@keyframes animeStatic {
  0% {
    opacity: $high;
  }
  9% {
    opacity: $high;
  }
  10% {
    opacity: $low;
  }
  14% {
    opacity: $low;
  }
  15% {
    opacity: $high;
  }
  26% {
    opacity: $high;
  }
  27% {
    opacity: $low;
  }
  33% {
    opacity: $low;
  }
  34% {
    opacity: $high;
  }
  47% {
    opacity: $high;
  }
  48% {
    opacity: $low;
  }
  51% {
    opacity: $low;
  }
  52% {
    opacity: $high;
  }
  55% {
    opacity: $high;
  }
  56% {
    opacity: $low;
  }
  72% {
    opacity: $low;
  }
  73% {
    opacity: $high;
  }
  82% {
    opacity: $high;
  }
  83% {
    opacity: $low;
  }
  85% {
    opacity: $low;
  }
  86% {
    opacity: $high;
  }
  92% {
    opacity: $high;
  }
  93% {
    opacity: $low;
  }
  99% {
    opacity: $low;
  }
  100% {
    opacity: $invisible;
  }
}
