.main {
    overflow-y: hidden;
    position: relative;
    background-color: #000000;
    width: 100vw;
    height: 100vh;

    .start {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        --bg-opacity: 0.3;

    }

    .head {
        position: absolute;
        z-index: 20;
        color: #ffffff;
        width: 100%;
        top: 15vh;

    }

    .social {
        display: none;
        position: fixed;
        right: 2rem;
        z-index: 20;


        @media (min-width: 772px) {
            display: block;
            left: 2rem;
            top: 12rem;
        }

        // @media (min-width: 2000px) {
        //     transform: scale(4);
        // }
    }

    .bgImageStyle {
        position: absolute;
        // position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .bgImageStyle2 {
        display: block;
        position: absolute;
        position: relative;
        left: 0;
        z-index: 10;
        width: 100vw;
        height: 75vh;
        top: 50%;


        @media (max-width: 760px) {
            display: none;
        }

    }

    .bgBottomStyle {
        display: block;
        position: absolute;
        position: relative;
        left: 0;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        top: 60%;


        @media (max-width: 760px) {
            display: block;
        }
    }
}