.container {
  display: flex;
  flex-direction: column;
}

.memberposition {
  font-family: lemonMilk;
  font-size: 1.2rem;
  color: whitesmoke;
}

.socialhandles {
  margin-top: 1rem;
}

.socialicon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
