.container {
  display: flex;
  flex-direction: column;
}

.memberposition {
  font-family: lemonMilk;
  font-size: 1.2rem;
  color: #eee;
  // background: linear-gradient(-45deg, #eeaa52, #e73c6f, #2394d5, #2af3b7);
  background-image: linear-gradient(135deg, rgb(3, 77, 134), rgb(12, 0, 31));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

.socialhandles {
  margin-top: 1rem;
}

.socialicon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
