.container {
  background: linear-gradient(-45deg, rgb(2, 2, 35), black, #00132d);
}

.head {
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lemonMilk;
  color: aliceblue;
  font-size: 3rem;
}
