.head {
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lemonMilk;
  color: aliceblue;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.teamsection {
  width: 100vw;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blank {
  height: 10vh;
  width: 100vw;
}
