.container {
  background: linear-gradient(-45deg, rgb(2, 2, 35), black, #00132d);
}

.head {
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lemonMilk;
  color: aliceblue;
  font-size: 3rem;
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
    0 0 10vw #fa1c16, 0 0 0.4vw #fed128;
  color: #fed128;
}
