/* web view */
$height: 15rem;
// Multiply width by 1.07 to keep the svg proportional
$width: $height * 1.07;
$signinheight: 10rem;
$signinwidth: $signinheight * 2.517;


/* mobile view */
$mheight: 6rem;
$mwidth: $mheight * 1.02;
.profile{
    cursor: pointer;
}
.surround {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 499;
    margin-top: 55px;

    @media screen and (min-width: 1280px) {
        background: url('../../../public/assests/Navbar/ProfileSurround.svg');
        width: $width;
        height: $height;
        margin-left: 37px;
        .profile {
            position: absolute;
            left: 147px;
            top: 138px;
            border-radius: 100%;
            cursor: pointer;
            .image {
                border-radius: 100%;
            }
        }
    }


    @media screen and (max-width: 1279px) {
        background: url('../../../public/assests/Navbar/ProfileSurround-mobile.svg');
        width: $mwidth;
        height: $mheight;
        margin-left: auto;
        margin-right: auto;
        .profile {
            position: absolute;
            cursor: pointer;
            border-radius: 100%;
            .image {
                border-radius: 100%;
            }
        }
    }
}


.surrounddisabled {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 502;

    @media screen and (min-width: 1280px) {
        width: $signinwidth;
        height: $signinheight;
        margin-left: 20px;
        margin-top: 40px;

        transform: scale(0.6);
    }
    @media screen and (max-width: 1279px) {
        top : -2.5rem;
        width: $signinwidth;
        height: $signinheight;
        transform: scale(0.5);
    }
}