@import '../../../styles/variables.scss';

.svg {
  //   box-shadow: 0px 0px 90px 120px #d03cab;
  animation: $animation;
  transform: translate(280%, -60%);
  animation-delay: 250ms;
  width: 6vw;
}
.hide {
  opacity: 0 !important;
}
