@font-face {
  font-family: LemonMilk;
  src: url('/public/Fonts/LemonMilk.otf');
}

@font-face {
  font-family: roadRage;
  src: url('/public/Fonts/Road_Rage.otf');
}

@font-face {
  font-family: mokotoGlitch;
  src: url('/public/Fonts/MokotoGlitch.otf');
}

.main {
  display: block;

  .h1 {
    display: flex;
    font-size: 2rem;
    line-height: 2.5rem;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 20px rgba(78, 223, 255, 0.5));
    font-family: roadRage;

    @media (min-width: 2000px) {
      font-size: 4rem;
      line-height: 3.8rem;
    }

    @media (min-width: 3600px) {
      font-size: 4.3rem;
      line-height: 4rem;
      margin-top: 4%;
    }
  }

  .tecnoesisText {
    overflow: hidden;
    position: relative;
    margin-top: 2.5rem;

    @media (min-width: 772px) {
      margin-top: -1%;
    }

    .textAndLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: 772px) {
        flex-direction: row;
      }

      .logo {
        position: relative;
        width: 80px;
        height: 80px;
      }

      .headingText {
        display: flex;
        margin-top: 1.5rem;
        letter-spacing: 0.1em;
        justify-content: center;
        align-items: center;
        font-size: 3.3rem;
        filter: drop-shadow(2px 8px 20px rgba(78, 223, 255, 0.5));
        font-family: lemonMilk;
      }
    }

    .year {
      display: flex;
      position: absolute;
      bottom: -0.5rem;
      justify-content: flex-end;
      width: 100%;
      color: white;
      .yearH1 {
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        width: 25%;
        filter: drop-shadow(0px 4px 20px rgba(78, 223, 255, 0.5));
        font-family: roadRage;
      }
    }
  }

  .backToTheFuture {
    margin-top: 1.25rem;
    margin-bottom: 1.75rem;
    text-align: center;
    opacity: 0.9;
    font-size: 1.1rem;
    font-family: mokotoGlitch;
  }
}

.year,
.year * {
  display: none !important;
}