@font-face {
    font-family: LemonMilk;
    src: url("/public/Fonts/LemonMilk.otf");
}

.main {
    position: relative;

    .component {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-image: url("/assests/Error404/404bg.png");
    }

    .errorImg {
        width: 70%;
        height: auto;

        @media (min-width: 772px) {
            width: 60%;
        }

        @media (min-width: 3600px) {
            margin-left: 20%;
        }
    }

    .logo {
        display: flex;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @media (min-width: 772px) {
            flex-direction: row;
        }

        .tecnoLogo {
            position: relative;
            width: 100px;
            height: 100px;


            @media (min-width: 772px) {
                margin-bottom: 1rem;
                width: 100px;
                height: 100px;
            }

            @media (min-width: 2000px) {
                margin-bottom: 3rem;
                width: 250px;
                height: 250px;
            }

        }

        .heading1 {
            // color: white;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // font: lemonMilk;
            // font-size: 3.5rem;
            // font-weight: bold;
            // filter: drop-shadow(2px 8px 20px rgba(78, 223, 255, 0.5));
            display: flex;
            margin-top: 1.5rem;
            color: #ffffff;
            letter-spacing: 0.1em;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            font-weight: bold;
            filter: drop-shadow(2px 8px 20px rgba(78, 223, 255, 0.5));
            font-family: LemonMilk;


            @media (min-width: 772px) {
                font-size: 3.5rem;
            }

            @media (min-width: 2000px) {
                font-size: 10rem;
            }

        }
    }
}