.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .main{
        grid-column: span 6 / span 6;
    }
    .bg{
        position: fixed;
        height: 100vh;
        width: 100vw;
        
        #one{
            width: 40rem;
            height: 40rem;
            border: 2px solid rgba(251, 251, 251, 0.532);
            border-radius: 50%;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            animation: sm 3s linear 2s infinite;
        }
        #two{
            width: 30rem;
            height: 30rem;
            border: 1px solid rgba(251, 251, 251, 0.532);
            border-radius: 50%;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            animation: md 3s linear 5s infinite;
        }
        #three{
            width: 40rem;
            height: 40rem;
            border: 1px solid rgba(99, 99, 99, 0.505);
            border-radius: 50%;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            animation: lg 2s linear 7s infinite;
        }
    }
}

@keyframes sm{
    0%{
        width: 40rem;
        height: 40rem;
        opacity: 0;
    }
    33%{
        width: 30rem;
        height: 30rem;
        opacity: 0.25;
        border-width: 1px;
    }
    67%{
        width: 20rem;
        height: 20rem;
        opacity: 0.5;
        border-width: 1.5;
    }
    100%{
        width: 30rem;
        height: 30rem;
        opacity: 0.25;
        border-width:1;
    }
}

@keyframes md{
    0%{
        width: 30rem;
        height: 30rem;
        opacity: 0;
    }
    25%{
        width: 40rem;
        height: 40rem;
        opacity: 1;
        border-width: 1px;
    }
    50%{
        width: 50rem;
        height: 50rem;
        opacity: 0.5;
        border-width: 1.5;
    }
    75%{
        width: 40rem;
        height: 40rem;
        opacity: 0.25;
        border-width:1;
    }
    100%{
        width: 30rem;
        height: 30rem;
        opacity: 0;
        border-width:1;
    }
}

@keyframes lg{
    0%{
        width: 40rem;
        height: 40rem;
        opacity: 0;
    }
    33%{
        width: 50rem;
        height: 50rem;
        opacity: 1;
        border-width: 2px;
    }
    67%{
        width: 60rem;
        height: 60rem;
        opacity: 0.5;
        border-width: 1.5;
    }
    100%{
        width: 70rem;
        height: 70rem;
        opacity: 0;
        border-width:1;
    }
}