/* ==================Profile CSS====================== */

.backDiv{
 
  

  background-color: #000000;
  z-index: 10;
  
  
  /* Background */
  
  
  }
  
  .profileCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .TransactionDetail{
    /* border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 552px;
  height: 589px;
  margin-bottom: 50px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    color: #FFFFFF; */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  
  box-sizing: border-box;
  
  position: absolute;
  width: 552px;
  height: 589px;
  left: 732px;
  top: 117px;
  overflow-y: scroll;
  border-radius: 8px;
  
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
    
  }
  .TransactionDetail::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */
  }
  .transHeading{
    text-align: center;
    padding: 20px;
  }
  /* hr{
    height: 0.5px;
    background-color: white;
  } */
  .eventName{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
  }
  span{
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    margin-bottom: 5px;
  
  }
  li{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      padding-left: 20px;
  }
  