// colors

$bgDark: #120118;
$bgPrimary: #00132D;
$fontColor: #FEFFFF;
$neon1: #4EDFFF;
$neon2: #D03CAB;
$offWhite: #E7E7E7;

// font

$lemonMilk: 'lemonMilk';
$roadRage: 'roadRage';
$mokotoGlitch: 'mokotoGlitch';
$mokotoGlitchMark: 'mokotoGlitchMark';
$babaPro: 'babaPro';

// box Shadow
$gradient1: -3px -3px 8px 4px #D03CAB, 3px 3px 8px 4px #4EDFFF;
$gradient2: -3px -3px 8px 4px #4edfff79, 3px 3px 8px 4px #ff26c266;
